*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: antiquewhite;
}

.slider-wrapper{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}
.card-list .card-item{
    user-select: none;
    color: #fff;
    padding: 35px;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    border-radius: 8px;
    border: 1px solid rgb(73, 46, 46);
}

.card-list .card-item .user-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 3px solid #fff;
    padding: 4px;
}

.card-list .card-item .user-profession{
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
    text-align: center;
    padding: 0px 20px 0px 20px;
}
.card-list .card-item .message-button{
    padding: 10px 35px;
    font-size: 1.25rem;
    color: black;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: #fff;
    border: 1px solid transparent;
    transition: 0.2s ease;
}
.card-list .card-item .message-button:hover{
    background: #c46c6c;
    border: 1px solid #fff;
    color: #fff;
}

.slider-wrapper .swiper-pagination-bullet{
    background: #fff;
    height: 15px;
    width: 15px;
}
.slider-wrapper.swiper-slide-button{
    color: #fff;
    margin-top: -50px;
    transition: 0.2s ease;
}
.slider-wrapper .swiper-slide-button:hover{
    color: blueviolet;
}

/* @mediya Query */
@media (max-width:768px){
    .slider-wrapper{
        margin: 0 10px 40px;
    }
    .slider-wrapper.swiper-slide-button{
        display: none;
    }   
}
